body {
  background-color: #F7F7FF;
  color: #434343;

  text-align: center;
}

h1 {
  font-size: 22pt;
  margin-top: 5px;
  margin-bottom: 10px;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 12px;
}

a {
  color: #1C1C1C;
}

.en {

}

.ja {
  font-size: 80%;
}

.error {
  color: #FF0000;
}


/* Header */
#header {
  margin-top: 60px;
  margin-bottom: 30px;
}

/* Main */
#main {
  margin-top: 40px;
  margin-bottom: 30px;
}

#form {

}

#video {
  margin-top: 50px;
}

/* Footer */
#footer {
  margin-top: 500px;
  text-align: center;
}

#footer p {
  color: #BDc0BA;
}
