<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel=stylesheet type="text/css" href="css/style.css">
    <title>YouTube Packer</title>
  </head>
  <body>
    <div id="header">
      <h1>YouTube Packer</h1>
      <h2 class="en">Extract YouTube movies from URL, And pack these to a playlist.<h2>
      <h2 class="ja">YouTubeの動画をURLから抽出して、プレイリストを作成します。<h2>
    </div>
    <div id="main">
      <form action="/main" method="POST">
        <div class="en"><p>Enter URL that you want to make playlist.</p></div>
        <div class="jp"><p>プレイリストにしたい動画が埋め込まれたサイトのURLを入力してください。</p></div>
        <% if @error_message %>
          <div class="error">
            <p><%= @error_message %></p>
          </div>
        <% end %>
        <p><input type="url" size="80" name="url" value="<%= @url %>" placeholder="http://..." required autofocus></p>
        <p><input type="submit" value="Make Playlist!"></p>
      </form>
    </div>
  </body>
</html>
