<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel=stylesheet type="text/css" href="css/style.css">
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load( 'swfobject', '2.2' );
    </script>
    <script type="text/javascript">
      var PLAYER_ID = 'videoDiv';
      var VIDEO_ID = '<%= @youtube_ids.delete_at(0) %>';
      var list = '<%= @youtube_ids.join(',') %>';

      var swfUrl = 'http://www.youtube.com/v/' + VIDEO_ID
                 + '?enablejsapi=1'
                 + '&listType=playlist'
                 + '&playlist=' + list
                 + '&autoplay=1'
                 + '&loop=1'
                 + '&color=white'
                 + '&theme=light';

      var replaceElemId = PLAYER_ID;
      var width = '480';
      var height = '295';
      var swfVersion = '8';

      var params = { allowScriptAccess: 'always' };    // 外部のドメインからのアクセスを許可
      var atts = { id: replaceElemId };                // 埋め込みプレーヤーのID

      // YouTubeプレーヤーの埋め込み
      swfobject.embedSWF(
          swfUrl,
          replaceElemId,
          width,
          height,
          swfVersion,
          null,
          null,
          params,
          atts
          );
    </script>
    <title>YouTube Packer</title>
  </head>
  <body>
    <div id="header">
      <h1>YouTube Packer</h1>
    </div>
    <div id="main">
      <h2><a href=<%=@url%>><%=@title%></a></h2>
      <div id="videoDiv"></div>

      <p><a href="/">back</a></p>
    </div>
    <div id="footer">
      <p>Thank you for using.</p>
    </div>
  </body>
</html>
